body{
    
    font-size: 18px;
text-align: center;
background-color: lightgray;
    
}

.tribute-info{
    text-align: center;
}

.center{
    text-align: center;
    font-style: italic;
   
}

.bold{
    font-weight: bold;
}

#img-div{
    margin: auto;
    height: 100%;
    width: 100%;
    border: white 10px dashed;
    padding: 10px;
   background-color: white;
}

ul{
    text-align: center;
}

